body {
  background-color: rgb(31, 23, 102);
  color: #ffffff;
  font-family: Karla, Arial, sans-serif;
  font-size: 1em;
  font-style: normal;
  line-height: 1.8em;
 }

h1 {
  color: #ffffff;
}

.daDate::before {
  content: 'Date: ';
  font-weight: bold;

}

.daSender::before{
  content: 'Sender: ';
  font-weight: bold;
}

.daSubj::before {
  content: 'Subject: ';
  font-weight: bold;
  
}


.daDate {
  padding-top: 10px;
}


.daSender {
  text-align: left;
  padding: 0;
}

.daSubj {
  border: 1px solid white;
  
}

.daBody {
  display: none;
}


.daDate, .daSender {
  display: inline-block;
  padding-right: 10px;

 
}

